<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <title>The Scoggins-Massey Wedding</title>
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:700|Open+Sans:400,400italic|Luckiest+Guy|Lobster|Shadows+Into+Light|Meddon|Rock+Salt&subset=latin&v2' rel='stylesheet' type='text/css'>
</head>

<body class="centered">
  <div id="container">
    <div id="header">	
      <a name="top"></a>
      <h1>The Scoggins-Massey Wedding</h1>
    </div> <!-- header -->

    <div id="menubar">
      <ul class="horizontal">
        <li><a href="/wedding/index.html">Welcome</a></li>
        <li><a href="/wedding/about-us.html">About Us</a></li>
        <li><a href="/wedding/wedding-party.html">Wedding Party</a></li>
        <li><a href="/wedding/ceremony.html">Ceremony</a></li>
        <li><a href="/wedding/reception.html">Reception</a></li>
        <li><a href="/wedding/hotel.html">Hotel</a></li>
        <li><a href="/wedding/registry.html">Registry</a></li>
        <li><a href="/wedding/update/index.html">Updates</a></li>
      </ul>
    </div>

    <div id="content">
      {{ content }}
    </div> <!-- main -->

    <div id="footer">
      <ul class="horizontal">
        <li><a href="#top">Return to Top</a></li>
        <li><a href="/wedding/colophon.html">Colophon</a></li>
        <li><a href="/wedding/feed.xml"><img src="/images/rss.png" alt="Subscribe to our Feed" /> Subscribe</a></li>
      </ul>
    </div> <!-- footer -->

  </div> <!-- container -->
</body>
</html>

